In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('pseudo_facebook.csv')

In [3]:
data.head(10)

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
0,2094382,14,19,1999,11,male,266.0,0,0,0,0,0,0,0,0
1,1192601,14,2,1999,11,female,6.0,0,0,0,0,0,0,0,0
2,2083884,14,16,1999,11,male,13.0,0,0,0,0,0,0,0,0
3,1203168,14,25,1999,12,female,93.0,0,0,0,0,0,0,0,0
4,1733186,14,4,1999,12,male,82.0,0,0,0,0,0,0,0,0
5,1524765,14,1,1999,12,male,15.0,0,0,0,0,0,0,0,0
6,1136133,13,14,2000,1,male,12.0,0,0,0,0,0,0,0,0
7,1680361,13,4,2000,1,female,0.0,0,0,0,0,0,0,0,0
8,1365174,13,1,2000,1,male,81.0,0,0,0,0,0,0,0,0
9,1712567,13,2,2000,2,male,171.0,0,0,0,0,0,0,0,0

In [4]:
data.tail(10)

,userid,age,dob_day,dob_year,dob_month,gender,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
98993,1654565,19,15,1994,8,male,394.0,4538,4144,4501,15088,4435,5961,66,9127
98994,2063006,20,4,1993,1,female,402.0,1988,332,7351,106025,7248,73333,103,32692
98995,1132164,20,9,1993,10,female,699.0,3611,973,4507,7768,4414,6909,93,859
98996,1668695,24,25,1989,4,female,182.0,2938,1272,6018,17765,5843,11708,175,6057
98997,1458985,28,14,1985,12,female,290.0,2218,1618,4626,10268,4290,4250,336,6018
98998,1268299,68,4,1945,4,female,541.0,2118,341,3996,18089,3505,11887,491,6202
98999,1256153,18,12,1995,3,female,21.0,1968,1720,4401,13412,4399,10592,2,2820
99000,1195943,15,10,1998,5,female,111.0,2002,1524,11959,12554,11959,11462,0,1092
99001,1468023,23,11,1990,4,female,416.0,2560,185,4506,6516,4506,5760,0,756
99002,1397896,39,15,1974,5,female,397.0,2049,768,9410,12443,9410,9530,0,2913

In [5]:
data.describe()

,userid,age,dob_day,dob_year,dob_month,tenure,friend_count,friendships_initiated,likes,likes_received,mobile_likes,mobile_likes_received,www_likes,www_likes_received
count,9.900300e+04,99003.000000,99003.000000,99003.000000,99003.000000,99001.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000,99003.000000
mean,1.597045e+06,37.280224,14.530408,1975.719776,6.283365,537.887375,196.350787,107.452471,156.078785,142.689363,106.116300,84.120491,49.962425,58.568831
std,3.440592e+05,22.589748,9.015606,22.589748,3.529672,457.649874,387.304229,188.786951,572.280681,1387.919613,445.252985,839.889444,285.560152,601.416348
min,1.000008e+06,13.000000,1.000000,1900.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.298806e+06,20.000000,7.000000,1963.000000,3.000000,226.000000,31.000000,17.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.596148e+06,28.000000,14.000000,1985.000000,6.000000,412.000000,82.000000,46.000000,11.000000,8.000000,4.000000,4.000000,0.000000,2.000000
75%,1.895744e+06,50.000000,22.000000,1993.000000,9.000000,675.000000,206.000000,117.000000,81.000000,59.000000,46.000000,33.000000,7.000000,20.000000
max,2.193542e+06,113.000000,31.000000,2000.000000,12.000000,3139.000000,4923.000000,4144.000000,25111.000000,261197.000000,25111.000000,138561.000000,14865.000000,129953.000000

In [6]:
data.shape

(99003, 15)

###### CREATING SUBSETS

In [7]:
df1 = data[["userid","age","tenure","friend_count","likes"]].iloc[0:11]

In [8]:
df1

     userid  age  tenure  friend_count  likes
0   2094382   14   266.0             0      0
1   1192601   14     6.0             0      0
2   2083884   14    13.0             0      0
3   1203168   14    93.0             0      0
4   1733186   14    82.0             0      0
5   1524765   14    15.0             0      0
6   1136133   13    12.0             0      0
7   1680361   13     0.0             0      0
8   1365174   13    81.0             0      0
9   1712567   13   171.0             0      0
10  1612453   13    98.0             0      0

In [9]:
df2 = data[["userid","age","friend_count","likes"]].iloc[11:21]

In [10]:
df2

     userid  age  friend_count  likes
11  2104073   13             0      0
12  1918584   13             0      0
13  1704433   13             0      0
14  1932519   13             0      0
15  1751722   13             0      0
16  1470850   13             0      0
17  1001768   13             0      0
18  1537661   13             0      0
19  1020296   13             0      0
20  1472643   13             0      0

In [11]:
df3 = data[["userid","age","friend_count","likes"]].iloc[21:31]

In [12]:
df3

     userid  age  friend_count  likes
21  2041297   13             0      0
22  1514978   13             0      0
23  1708962   15             0      0
24  1098955   15             0      0
25  1001243   15             0      0
26  2113084   15             0      0
27  2163454   15             0      0
28  1670750   15             0      0
29  1041376   15             0      0
30  1762274   15             0      0

In [13]:
merge = pd.concat([df1,df2,df3])

In [14]:
merge

     userid  age  tenure  friend_count  likes
0   2094382   14   266.0             0      0
1   1192601   14     6.0             0      0
2   2083884   14    13.0             0      0
3   1203168   14    93.0             0      0
4   1733186   14    82.0             0      0
5   1524765   14    15.0             0      0
6   1136133   13    12.0             0      0
7   1680361   13     0.0             0      0
8   1365174   13    81.0             0      0
9   1712567   13   171.0             0      0
10  1612453   13    98.0             0      0
11  2104073   13     NaN             0      0
12  1918584   13     NaN             0      0
13  1704433   13     NaN             0      0
14  1932519   13     NaN             0      0
15  1751722   13     NaN             0      0
16  1470850   13     NaN             0      0
17  1001768   13     NaN             0      0
18  1537661   13     NaN             0      0
19  1020296   13     NaN             0      0
20  1472643   13     NaN             0      0
21  2041297   13     NaN             0      0
22  1514978   13     NaN             0      0
23  1708962   15     NaN             0      0
24  1098955   15     NaN             0      0
25  1001243   15     NaN             0      0
26  2113084   15     NaN             0      0
27  2163454   15     NaN             0      0
28  1670750   15     NaN             0      0
29  1041376   15     NaN             0      0
30  1762274   15     NaN             0      0

###### SORT

In [18]:
sort = merge.sort_values("tenure",ascending=False)

In [19]:
sort

     userid  age  tenure  friend_count  likes
0   2094382   14   266.0             0      0
9   1712567   13   171.0             0      0
10  1612453   13    98.0             0      0
3   1203168   14    93.0             0      0
4   1733186   14    82.0             0      0
8   1365174   13    81.0             0      0
5   1524765   14    15.0             0      0
2   2083884   14    13.0             0      0
6   1136133   13    12.0             0      0
1   1192601   14     6.0             0      0
7   1680361   13     0.0             0      0
11  2104073   13     NaN             0      0
12  1918584   13     NaN             0      0
13  1704433   13     NaN             0      0
14  1932519   13     NaN             0      0
15  1751722   13     NaN             0      0
16  1470850   13     NaN             0      0
17  1001768   13     NaN             0      0
18  1537661   13     NaN             0      0
19  1020296   13     NaN             0      0
20  1472643   13     NaN             0      0
21  2041297   13     NaN             0      0
22  1514978   13     NaN             0      0
23  1708962   15     NaN             0      0
24  1098955   15     NaN             0      0
25  1001243   15     NaN             0      0
26  2113084   15     NaN             0      0
27  2163454   15     NaN             0      0
28  1670750   15     NaN             0      0
29  1041376   15     NaN             0      0
30  1762274   15     NaN             0      0

###### TRANSPOSE

In [26]:
data2 = data.transpose()

In [27]:
data2

,0,1,2,3,4,5,6,7,8,9,...,98993,98994,98995,98996,98997,98998,98999,99000,99001,99002
userid,2094382,1192601,2083884,1203168,1733186,1524765,1136133,1680361,1365174,1712567,...,1654565,2063006,1132164,1668695,1458985,1268299,1256153,1195943,1468023,1397896
age,14,14,14,14,14,14,13,13,13,13,...,19,20,20,24,28,68,18,15,23,39
dob_day,19,2,16,25,4,1,14,4,1,2,...,15,4,9,25,14,4,12,10,11,15
dob_year,1999,1999,1999,1999,1999,1999,2000,2000,2000,2000,...,1994,1993,1993,1989,1985,1945,1995,1998,1990,1974
dob_month,11,11,11,12,12,12,1,1,1,2,...,8,1,10,4,12,4,3,5,4,5
gender,male,female,male,female,male,male,male,female,male,male,...,male,female,female,female,female,female,female,female,female,female
tenure,266.0,6.0,13.0,93.0,82.0,15.0,12.0,0.0,81.0,171.0,...,394.0,402.0,699.0,182.0,290.0,541.0,21.0,111.0,416.0,397.0
friend_count,0,0,0,0,0,0,0,0,0,0,...,4538,1988,3611,2938,2218,2118,1968,2002,2560,2049
friendships_initiated,0,0,0,0,0,0,0,0,0,0,...,4144,332,973,1272,1618,341,1720,1524,185,768
likes,0,0,0,0,0,0,0,0,0,0,...,4501,7351,4507,6018,4626,3996,4401,11959,4506,9410
likes_received,0,0,0,0,0,0,0,0,0,0,...,15088,106025,7768,17765,10268,18089,13412,12554,6516,12443
mobile_likes,0,0,0,0,0,0,0,0,0,0,...,4435,7248,4414,5843,4290,3505,4399,11959,4506,9410
mobile_likes_received,0,0,0,0,0,0,0,0,0,0,...,5961,73333,6909,11708,4250,11887,10592,11462,5760,9530
www_likes,0,0,0,0,0,0,0,0,0,0,...,66,103,93,175,336,491,2,0,0,0
www_likes_received,0,0,0,0,0,0,0,0,0,0,...,9127,32692,859,6057,6018,6202,2820,1092,756,2913

In [28]:
table = pd.pivot_table(data,index=["age","gender","userid"])

In [29]:
table

                    dob_day  dob_month  dob_year  friend_count  \
age gender userid
13  female 1001768       23          5      2000             0
           1002786        9          5      2000           447
           1009332       23          2      2000            21
           1012143       15          1      2000           402
           1021146       22          3      2000           413
...                     ...        ...       ...           ...
113 male   2102452        1          1      1900           221
           2121073       31         12      1900            41
           2132647       17          1      1900           274
           2145900        5          9      1900            88
           2190084       13          5      1900           223

                    friendships_initiated  likes  likes_received  \
age gender userid
13  female 1001768                      0      0               0
           1002786                    220     46              36
           1009332                     10      0               1
           1012143                    239    241              61
           1021146                    120    608             394
...                                   ...    ...             ...
113 male   2102452                     60      4              18
           2121073                     18      0               0
           2132647                     70    110              71
           2145900                     15     55             112
           2190084                     53      7               3

                    mobile_likes  mobile_likes_received  tenure  www_likes  \
age gender userid
13  female 1001768             0                      0    25.0          0
           1002786            46                     35   349.0          0
           1009332             0                      1   298.0          0
           1012143           241                     60   175.0          0
           1021146           551                    170    94.0         57
...                          ...                    ...     ...        ...
113 male   2102452             4                     13  1664.0          0
           2121073             0                      0  1200.0          0
           2132647            33                     36  1295.0         77
           2145900             1                     53  1204.0         54
           2190084             6                      1  1524.0          1

                    www_likes_received
age gender userid
13  female 1001768                   0
           1002786                   1
           1009332                   0
           1012143                   1
           1021146                 224
...                                ...
113 male   2102452                   5
           2121073                   0
           2132647                  35
           2145900                  59
           2190084                   2

[98828 rows x 12 columns]